/* 

*{
    color: orangered;
} 

div{
    border: red solid;
}

*/



div[class*="Section"] {
   height: 250px;
}


.Header{
    display: flex;
    height: 375px;
    justify-content: space-between;
}

.Header .RightContainer{
    display: flex;
    justify-content: center;
    gap: 25px;
}

.Header .LeftContainer{
    display: flex;
}

.RightContainer, .LeftContainer{
    width: 50%;
}

.Header, .CopyrightFooter{
    background-color: #1F2937;
}

.InformationSection{
    background-color: #FFFFFF;
}

.QuoteSection{
    background-color: #E5E7EB;
}

.CopyrightFooter{
    height: 100px;
}


