/*
div {
  border: red solid;
}
*/

div[class*="Section"] {
  height: 250px;
}

button:hover {
  cursor: pointer;
}

.Header {
  display: flex;
  height: 600px;
  justify-content: space-between;
}

.Links {
  display: flex;
  justify-content: center;
  gap: 25px;
  font-size: 18px;
  color: #e5e7eb;
}

.Header .RightContainer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
}

.Header .ImageContainer {
  align-self: flex-start;
  justify-self: center;
  margin-right: 50%;
  margin-top: 10%;
  width: 90%;
  height: 47.5%;
}

.ImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Header .LeftContainer {
  display: flex;
  /*justify-content: space-around;*/
  flex-direction: column;
  color: #f9faf8;
  font-weight: 900;
  font-size: 24px;
}

.HeaderLogo {
  margin-left: 50%;
}

.Text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 50%;
  margin-top: 10%;
}

.MainText {
  font-size: 52px;
  font-weight: 900;
  align-self: flex-start;
}

.MainText,
.SecondaryText {
  margin: 0;
  padding: 0;
}

.SecondaryText {
  align-self: flex-end;
  font-size: 23px;
  color: #e5e7eb;
  font-weight: 400;
}

.SignUpButton {
  align-self: flex-start;
  margin-top: 2%;
  background-color: #3882f6;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  border-radius: 7.5px;
  width: 25%;
  height: 40px;
  border: none;
}

.RightContainer,
.LeftContainer {
  width: 50%;
}

.Header,
.CopyrightFooter {
  background-color: #1f2937;
}

.InformationSection {
  background-color: #ffffff;
}

.QuoteSection {
  background-color: #e5e7eb;
}

.CopyrightFooter {
  height: 100px;
}
